{% extends 'main.html' %}
{% load static %}
{% block content %}


<body class="page-template-default page page-id-2452 woocommerce-cart woocommerce-page single-listing-style-top single-resume-style-top wp-job-manager-categories-enabled wp-resume-manager-categories-enabled wp-job-manager wp-job-manager-resumes wp-job-manager-wc-paid-listings wp-job-manager-bookmarks wp-job-manager-tags ninjaforms-contact-resume-form wp-job-manager-contact-listing ninjaforms-contact-job-form woocommerce testimonials jetpack custom-font nav-menu-break-large fixed-header jobify-child-premium">

	<div id="page" class="hfeed site">

		<header id="masthead" class="site-header" role="banner">
			<div class="container">
			
					{% include 'navbar.html' %}

				<a href="#site-navigation" class="js-primary-menu-toggle primary-menu-toggle primary-menu-toggle--open"><span class="screen-reader-text">Menu</span></a>
			</div>
		</header><!-- #masthead -->

		<div id="main" class="site-main">

	
		<header class="page-header">
		<h2 class="page-title">Cart</h2>
	</header>
	
	<div id="primary" class="content-area container" role="main">
							
		
<article id="post-2452" class="post-2452 page type-page status-publish hentry">
	<div class="entry-content">
		<div class="woocommerce"><p class="cart-empty">Your cart is currently empty.</p>	<p class="return-to-shop">
		<a class="button wc-backward" href="#">
			Return to shop		</a>
	</p>
</div>
	</div>
</article><!-- #post -->

			</div><!-- #primary -->

	

		</div><!-- #main -->

				<div class="footer-cta">
			<div class="container">
				<h2>Got a question?</h2>
<p>We're here to help. Check out our FAQs, send us an email or call us at 1 (800) 555-5555</p>
<p><a href="#" class="button button--type-action">Contact Us</a></p>
			</div>
		</div>
		
		{% include 'footer.html' %}
	</div><!-- #page -->

	<div id="ajax-response"></div>

{% endblock %}
