{% load static %}
<footer id="colophon" class="site-footer" role="contentinfo">
						<div class="footer-widgets">
				<div class="container">
					<div class="row">
						 
						<div class="col-xs-12 col-md-6 col-lg-3">
							<aside id="text-1" class="widget widget--footer widget_text">	<div class="textwidget"><embed src="{% static 'assets/images/premium-logo-inverted.svg' %}" type="image/svg+xml" />
<br></br>

Job Searching Just Got Easy. Use Jobify to run a hiring site and earn money in the process!</div>
		</aside>						</div>
						 
<div class="col-xs-12 col-md-6 col-lg-3">
	<aside id="pages-1" class="widget widget--footer widget_pages"><h3 class="widget-title widget-title--footer">Site Map</h3><ul>
<li class="page_item page-item-703"><a href="https://jobify-demos.astoundify.com/extended/blog/">Blog</a></li>
<li class="page_item page-item-99991379"><a href="https://jobify-demos.astoundify.com/extended/candidate-dashboard/">Candidate Dashboard</a></li>
<li class="page_item page-item-2452"><a href="https://jobify-demos.astoundify.com/extended/cart-2/">Cart</a></li>
<li class="page_item page-item-2453"><a href="https://jobify-demos.astoundify.com/extended/checkout-2/">Checkout</a></li>
<li class="page_item page-item-2064"><a href="https://jobify-demos.astoundify.com/extended/companies/">Companies</a></li>
<li class="page_item page-item-1948"><a href="https://jobify-demos.astoundify.com/extended/frequently-asked-questions/">FAQ</a></li>
<li class="page_item page-item-99991381"><a href="https://jobify-demos.astoundify.com/extended/find-a-candidate/">Find A Candidate</a></li>
<li class="page_item page-item-3940"><a href="https://jobify-demos.astoundify.com/extended/find-a-job/">Find A Job</a></li>
<li class="page_item page-item-25 current_page_item"><a href="https://jobify-demos.astoundify.com/extended/">Home</a></li>
<li class="page_item page-item-99991394"><a href="https://jobify-demos.astoundify.com/extended/how-it-works/">How It Works</a></li>
<li class="page_item page-item-7"><a href="https://jobify-demos.astoundify.com/extended/job-dashboard/">Job Dashboard</a></li>
<li class="page_item page-item-8"><a href="https://jobify-demos.astoundify.com/extended/jobs/">Jobs</a></li>
<li class="page_item page-item-2454"><a href="https://jobify-demos.astoundify.com/extended/login/">Login</a></li>
<li class="page_item page-item-99991207"><a href="https://jobify-demos.astoundify.com/extended/my-account/">My Account</a></li>
<li class="page_item page-item-99991191"><a href="https://jobify-demos.astoundify.com/extended/post-a-job/">Post A Job</a></li>
<li class="page_item page-item-99991374"><a href="https://jobify-demos.astoundify.com/extended/pricing/">Pricing</a></li>
<li class="page_item page-item-1762"><a href="https://jobify-demos.astoundify.com/extended/privacy-policy/">Privacy Policy</a></li>
<li class="page_item page-item-2451"><a href="https://jobify-demos.astoundify.com/extended/shop/">Shop</a></li>
<li class="page_item page-item-1673"><a href="https://jobify-demos.astoundify.com/extended/signup/">Sign Up</a></li>
<li class="page_item page-item-99991378"><a href="https://jobify-demos.astoundify.com/extended/submit-your-resume/">Submit Your Resume</a></li>
<li class="page_item page-item-1760"><a href="https://jobify-demos.astoundify.com/extended/terms-and-conditions/">Terms and Conditions</a></li>
<li class="page_item page-item-1719"><a href="https://jobify-demos.astoundify.com/extended/testimonials/">Testimonials</a></li>
		</ul>
		</aside>						</div>
						 
						<div class="col-xs-12 col-md-6 col-lg-3">
									<aside id="recent-posts-3" class="widget widget--footer widget_recent_entries">		<h3 class="widget-title widget-title--footer">Recent News Articles</h3>		<ul>
					<li>
				<a href="https://jobify-demos.astoundify.com/extended/canada-adds-12500-jobs-in-modest-july-rebound/">Canada adds 12,500 jobs in modest July rebound</a>
							<span class="post-date">April 10, 2016</span>
						</li>
					<li>
				<a href="https://jobify-demos.astoundify.com/extended/canada-adds-12500-jobs-in-modest-july-rebound-which-is-a-good-sign/">Outsourcing vs. In-House Digital Marketing: Choosing What is Best for a Small Business</a>
							<span class="post-date">April 6, 2016</span>
						</li>
					<li>
				<a href="https://jobify-demos.astoundify.com/extended/fitness-industry-leading-the-charge-on-hiring-in-the-uk-and-ireland/">Canadian Video Game Production Soars 50% In One Year, And Is Catching Up To Film, TV</a>
							<span class="post-date">April 1, 2016</span>
						</li>
				</ul>
		</aside>								</div>
						 
		<div class="col-xs-12 col-md-6 col-lg-3">
			<aside id="text-2" class="widget widget--footer widget_text"><h3 class="widget-title widget-title--footer">Jobify Offices</h3>													<div class="textwidget">Jobify Inc.
555 Madison Avenue, Suite F-2
Manhattan, New York 10282
<br></br>
Jobify Inc Canada.
545 Younge St, Suite 11
Toronto, Ontario M4K 6F4</div>
		</aside>						</div>
											</div>
				</div>
			</div>
			
			<div class="copyright">
				<div class="container">
					<div class="site-info">
						&copy; 2017 Extended &mdash; All Rights Reserved					</div><!-- .site-info -->

<div class="footer-social"><a href="http://facebook.com/astoundify"><span class="screen-reader-text">Facebook</span></a>
<a href="http://twitter.com/astoundify"><span class="screen-reader-text">Twitter</span></a>
<a href="https://plus.google.com/"><span class="screen-reader-text">Google Plus</span></a>
<a href="http://instagram.com/"><span class="screen-reader-text">Instagram</span></a>
<a href="https://pinterest.com/"><span class="screen-reader-text">Pinterest</span></a>
<a href="https://vimeo.com/astoundify"><span class="screen-reader-text">Vimeo</span></a>
<a href="http://www.linkedin.com"><span class="screen-reader-text">Linkedin</span></a>
</div>
					<a href="#page" class="btt "><span class="screen-reader-text">Back to Top</span></a>
				</div>
			</div>
		</footer><!-- #colophon -->